@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
/* Simple browser reset */
* {
  box-sizing: border-box;
}

/* Responsive columns */
@media (max-width: 700px) {
  .features_box-wrapper {
   flex-wrap: wrap;
  }
  .features_box {
   flex: 1 100%;
  }
 }

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}
body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
 }
 header {
  background: #2e8b57;
  color: #fff;
  padding: 10px 30px;
 }
 footer {
  background: #222;
  padding: 40px;
  text-align: center;
  color: #d8d8d8;
 }
 nav ul li {
  display: inline-block;
 }
 nav {
  width: 50%;
  display: inline-block;
  text-align: right;                           
 }
 nav ul {
  list-style: none;
  margin: 0;                             
 }
 nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 3px;
  transition: 0.3s ease all;                                
 }
 nav ul li a:hover {
  background: #444;                    
}

img {
  max-width: 100%;
  height: auto;  
}